 header { 
 background-color: #2874a6;
 padding : 20px 0px 20px 0px;
 text-align : center;
 font-size : 30px;
 color : white;
    }
 footer { 
 background-color : #2874a6;
 padding : 20px 0px 20px 0px;
 text-align : center;
 font-size : 14px;
 color : white;
 }
 aside {
 float :right;
 width : 20%;
 background-color : #ebf5fb;
 padding : 20px 10px 20px 10px;
 }
 nav {
 background-color : #2874a6;
 padding : 10px 50px 10px 50px;
 font-size : 14px;
 color : white;
 }
 section {
 padding : 30px 20px 30px 20px;
 } 
 body {
	 font-family : Georgia, serif;
 }
 h2 {
	 font-size :1em;
	 color : green ;
	 margin : 10px 0px 10px 0px;
	 padding : 10px 0px 10px 0px;
	 font-style : italic ;
 }

  #nom { 
    text-align : center;
	font-size : 2em;
 }
  #photo {
	width : 75px;
	vertical-align : baseline ;
  }
  .fond_gris {
	  background-color : grey;
  }
  .gras {
	  font-weight : bold;
	  color : blue;
  }
   #loisirs li {
	display :  inline  ;	   
  }
 