/* Rendu des éléments HTML5 en bloc */

 body,header,footer,section,aside,nav { 
 display: block;            /* Non nécessaire, valeur par défaut */ 
 border: 3px solid red;   /* Une bordure pour 'voir' comment les blocs s'organisent */ 
 margin-top: 20px;                 /* Aucune marge extérieure */   
 margin-bottom: 20px;
 padding-left: 50px;                /* Aucune marge intérieure */ 
 
 }